
TP2mobile/.idea/workspace.xml
TP2mobile/.idea/modules/app/TP2mobile.app.iml
TP2mobile/.idea/workspace.xml
TP2mobile/.idea/modules/app/TP2mobile.app.iml
*.iml
*.iml
TP2mobile/.idea/workspace.xml
TP2mobile/.gradle/6.1.1/executionHistory/executionHistory.bin
TP2mobile/.gradle/6.1.1/executionHistory/executionHistory.lock
TP2mobile/.gradle/6.1.1/fileContent/fileContent.lock
TP2mobile/.gradle/6.1.1/fileHashes/fileHashes.bin
TP2mobile/.gradle/6.1.1/fileHashes/fileHashes.lock
TP2mobile/.gradle/6.1.1/fileHashes/resourceHashesCache.bin
TP2mobile/.gradle/6.1.1/javaCompile/classAnalysis.bin
TP2mobile/.gradle/6.1.1/javaCompile/javaCompile.lock
TP2mobile/.gradle/6.1.1/javaCompile/taskHistory.bin
TP2mobile/.gradle/buildOutputCleanup/buildOutputCleanup.lock
TP2mobile/.gradle/buildOutputCleanup/outputFiles.bin
TP2mobile/.gradle/checksums/checksums.lock
TP2mobile/.gradle/checksums/sha1-checksums.bin
TP2mobile/.idea/caches/build_file_checksums.ser
TP2mobile/.idea/workspace.xml
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/debug.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-af.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-am.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ar.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-as.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-az.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-b+sr+Latn.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-be.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-bg.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-bn.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-bs.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ca.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-cs.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-da.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-de.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-el.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-en-rAU.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-en-rCA.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-en-rGB.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-en-rIN.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-en-rXC.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-es-rUS.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-es.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-et.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-eu.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-fa.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-fi.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-fr-ldltr-v17.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-fr-rCA.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-fr.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-gl.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-gu.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-h720dp-v13.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-hdpi-v4.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-hi.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-hr.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-hu.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-hy.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-in.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-is.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-it.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-iw.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ja.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ka.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-kk.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-km.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-kn.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ko.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ky.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-land.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-large-v4.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ldltr-v21.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-lo.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-lt.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-lv.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-mk.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ml.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-mn.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-mr.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ms.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-my.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-nb.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ne.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-night-v8.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-nl.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-or.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-pa.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-pl.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-port.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-pt-rBR.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-pt-rPT.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-pt.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ro.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ru.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-si.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-sk.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-sl.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-sq.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-sr.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-sv.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-sw.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-sw600dp-v13.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ta.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-te.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-th.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-tl.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-tr.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-uk.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-ur.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-uz.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v16.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v17.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v18.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v21.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v22.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v23.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v24.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v25.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v26.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-v28.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-vi.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-watch-v20.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-watch-v21.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-xlarge-v4.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-zh-rCN.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-zh-rHK.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-zh-rTW.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values-zu.json
TP2mobile/app/build/intermediates/blame/res/debug/multi-v2/values.json
TP2mobile/app/build/intermediates/blame/res/debug/single/debug.json
TP2mobile/app/build/intermediates/dex/debug/mergeProjectDexDebug/classes.dex
TP2mobile/app/build/intermediates/dex_archive_input_jar_hashes/debug/out
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0JJPDbYFKND7thnwTp8BzNw7R1I=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4c3RuvLXtTjuDqqrDgLkHf+mb5w=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4knjwwUXvrXO1DhVjCrvmZCc8BE=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9Yvm7Pns6kMZslLsN1L+y9do9Js=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_vtwuOSZO1e3ar_tvREK+ECsdJM=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/F9ZcT6gzGtD_EIGr+oRqRTtK1Nk=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/FPacxiiRULitX4VH_Z1K6K4ZWlo=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/igiDgodBhcrAnBRSuULHMcrKrWc=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/iKsO9R2ZG9sore7fwzZnaJW5nKE=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JGGve9to1aD13_y3ohrDNm0P6g0=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/jm7ho7noa16a_a4u1y7pageByLE=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JNeDFp+cKJ4McO90ZkystGw1C5E=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JpAB03no_MqqTk8ZtcdGqZM3ViQ=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lcSYv3tDCijgAaYbDvSk+NsUXjg=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/n4J+JzYia9mvAov2_2pLif65UrE=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NOE069Mn9ynAPbXpsPewoP7Xf3k=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/orQha1BoFCKQ+p8Q_elk5kqnTrs=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/p_nJG90hjr8V01kxEuKpFa9oYIE=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/pJ0e7nto5S_rt8O_U2zsVS2pzVk=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/rf6TRAxNkWzRMzNauI6lo6HUGt8=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Rg3Mv1vRXHFiDXmBrjSu3RfTwyE=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tiCWjp_ZPDwqX2znGVa82_tvGqA=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TLlIUv+ZS2G61nY3r51MBGK2Isw=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xGJUobbzMqvN66FHoCoQfljdmwU=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/YYjYdeV0ZyVMX5q9cUMmyk+nD6o=
TP2mobile/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Zjn5bP7ZqiQPqAdz3sNXpB0FEK4=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/0JJPDbYFKND7thnwTp8BzNw7R1I=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/4c3RuvLXtTjuDqqrDgLkHf+mb5w=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/4knjwwUXvrXO1DhVjCrvmZCc8BE=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/9Yvm7Pns6kMZslLsN1L+y9do9Js=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/_vtwuOSZO1e3ar_tvREK+ECsdJM=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/F9ZcT6gzGtD_EIGr+oRqRTtK1Nk=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/FPacxiiRULitX4VH_Z1K6K4ZWlo=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/igiDgodBhcrAnBRSuULHMcrKrWc=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/iKsO9R2ZG9sore7fwzZnaJW5nKE=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/JGGve9to1aD13_y3ohrDNm0P6g0=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/jm7ho7noa16a_a4u1y7pageByLE=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/JNeDFp+cKJ4McO90ZkystGw1C5E=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/JpAB03no_MqqTk8ZtcdGqZM3ViQ=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/lcSYv3tDCijgAaYbDvSk+NsUXjg=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/n4J+JzYia9mvAov2_2pLif65UrE=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/NOE069Mn9ynAPbXpsPewoP7Xf3k=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/orQha1BoFCKQ+p8Q_elk5kqnTrs=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/p_nJG90hjr8V01kxEuKpFa9oYIE=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/pJ0e7nto5S_rt8O_U2zsVS2pzVk=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/rf6TRAxNkWzRMzNauI6lo6HUGt8=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Rg3Mv1vRXHFiDXmBrjSu3RfTwyE=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/tiCWjp_ZPDwqX2znGVa82_tvGqA=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/TLlIUv+ZS2G61nY3r51MBGK2Isw=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/xGJUobbzMqvN66FHoCoQfljdmwU=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/YYjYdeV0ZyVMX5q9cUMmyk+nD6o=
TP2mobile/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Zjn5bP7ZqiQPqAdz3sNXpB0FEK4=
TP2mobile/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
TP2mobile/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
TP2mobile/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
TP2mobile/app/build/intermediates/incremental/mergeDebugResources/merger.xml
TP2mobile/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
TP2mobile/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
TP2mobile/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0
TP2mobile/app/build/intermediates/javac/debug/classes/com/w32/tp2mobile/activity/SensorActivity.class
TP2mobile/app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
TP2mobile/app/build/intermediates/merged_java_res/debug/out.jar
TP2mobile/app/build/intermediates/project_dex_archive/debug/out/com/w32/tp2mobile/activity/SensorActivity.dex
TP2mobile/app/build/intermediates/res/merged/debug/drawable-v24_ic_launcher_foreground.xml.flat
TP2mobile/app/build/intermediates/res/merged/debug/drawable_ic_launcher_background.xml.flat
TP2mobile/app/build/intermediates/res/merged/debug/layout-land_activity_main.xml.flat
TP2mobile/app/build/intermediates/res/merged/debug/layout_activity_main.xml.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-anydpi-v26_ic_launcher.xml.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-anydpi-v26_ic_launcher_round.xml.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-hdpi_ic_launcher.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-hdpi_ic_launcher_round.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-mdpi_ic_launcher.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-mdpi_ic_launcher_round.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher_round.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_ic_launcher.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_ic_launcher_round.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_ic_launcher.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_ic_launcher_round.png.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-af_values-af.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-am_values-am.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ar_values-ar.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-as_values-as.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-az_values-az.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-b+sr+Latn_values-b+sr+Latn.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-be_values-be.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-bg_values-bg.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-bn_values-bn.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-bs_values-bs.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ca_values-ca.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-cs_values-cs.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-da_values-da.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-de_values-de.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-el_values-el.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-en-rAU_values-en-rAU.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-en-rCA_values-en-rCA.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-en-rGB_values-en-rGB.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-en-rIN_values-en-rIN.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-en-rXC_values-en-rXC.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-es-rUS_values-es-rUS.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-es_values-es.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-et_values-et.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-eu_values-eu.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-fa_values-fa.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-fi_values-fi.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-fr-ldltr-v17_values-fr-ldltr-v17.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-fr-rCA_values-fr-rCA.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-fr_values-fr.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-gl_values-gl.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-gu_values-gu.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-h720dp-v13_values-h720dp-v13.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-hdpi-v4_values-hdpi-v4.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-hi_values-hi.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-hr_values-hr.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-hu_values-hu.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-hy_values-hy.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-in_values-in.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-is_values-is.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-it_values-it.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-iw_values-iw.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ja_values-ja.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ka_values-ka.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-kk_values-kk.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-km_values-km.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-kn_values-kn.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ko_values-ko.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ky_values-ky.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-land_values-land.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-large-v4_values-large-v4.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ldltr-v21_values-ldltr-v21.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-lo_values-lo.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-lt_values-lt.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-lv_values-lv.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-mk_values-mk.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ml_values-ml.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-mn_values-mn.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-mr_values-mr.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ms_values-ms.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-my_values-my.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-nb_values-nb.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ne_values-ne.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-night-v8_values-night-v8.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-nl_values-nl.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-or_values-or.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-pa_values-pa.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-pl_values-pl.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-port_values-port.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-pt-rBR_values-pt-rBR.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-pt-rPT_values-pt-rPT.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-pt_values-pt.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ro_values-ro.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ru_values-ru.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-si_values-si.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-sk_values-sk.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-sl_values-sl.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-sq_values-sq.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-sr_values-sr.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-sv_values-sv.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-sw600dp-v13_values-sw600dp-v13.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-sw_values-sw.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ta_values-ta.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-te_values-te.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-th_values-th.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-tl_values-tl.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-tr_values-tr.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-uk_values-uk.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-ur_values-ur.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-uz_values-uz.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v16_values-v16.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v17_values-v17.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v18_values-v18.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v21_values-v21.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v22_values-v22.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v23_values-v23.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v24_values-v24.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v25_values-v25.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v26_values-v26.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-v28_values-v28.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-vi_values-vi.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-watch-v20_values-watch-v20.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-watch-v21_values-watch-v21.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-xlarge-v4_values-xlarge-v4.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-zh-rCN_values-zh-rCN.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-zh-rHK_values-zh-rHK.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-zh-rTW_values-zh-rTW.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values-zu_values-zu.arsc.flat
TP2mobile/app/build/intermediates/res/merged/debug/values_values.arsc.flat
TP2mobile/app/build/outputs/apk/debug/app-debug.apk
TP2mobile/app/build/outputs/logs/manifest-merger-debug-report.txt
TP2mobile/app/src/main/AndroidManifest.xml
